.banGrid {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 5vw;
	width: 100vw;
}
.banGridEdu {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: inherit;
	width: 100vw;
}
.bumpLogo {
	height: 200px;
	margin: 0;
	padding: 0 1vw 0 1vw;
	width: inherit;
}
.button {
	background-color: #000;
	border-radius: 13px;
	box-shadow: #fff;
	color: #fff;
	height: 5.33rem;
	width: 10rem;
}
.button1 {
	background-color: #00000000;
	border-radius: 16px;
	color: #FFF;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	height: 60px;
	margin: 0vw 2.5vw 0vw 2.5vw;
	outline: 3px solid #000;
	width: 90vw;
}
.button1:hover {
	background-color: #000;
	outline-offset: 5px;
}
.card {
	background: rgba(var(--card-rgb), 0);
	border: 1px solid rgba(var(--card-border-rgb), 0);
	border-radius: var(--border-radius);
	padding: 1rem 1.3rem;
	text-align: right;
	transition: background 200ms, border 200ms;
}
.card h2 {
	font-weight: 600;
	margin-bottom: 0.7rem;
}
.card p {
	font-size: 0.9rem;
	line-height: 1.5;
	margin: 0;
	max-width: 34ch;
	opacity: 0.6;
}
.card span {
	display: inline-block;
	transition: transform 200ms;
}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	position: relative;
}
.center::after {
	background: var(--primary-glow);
	height: 180px;
	width: 240px;
	z-index: -1;
}
.center::before {
	background: var(--secondary-glow);
	border-radius: 50%;
	height: 360px;
	margin-left: -400px;
	width: 480px;
}
.center::before,
.center::after {
	content: '';
	filter: blur(45px);
	left: 50%;
	position: absolute;
	transform: translateZ(0);
}
.center_ {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	position: relative;
}
.code {
	font-family: var(--font-mono);
	font-weight: 700;
}
.cont {
	margin: 10vh 0vh 0vh 10vh;
}
.content {
	margin: 0vw 10vw 0vw 10vw;
	padding: 0;
}
.content2 {
	background-color: #2b2b2b;
	margin: 0vw 5vw 0vw 5vw;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 6vh;
	width: 100vw;
}
.content3 {
	background-color: #3a95b9;
	border-top: .1px solid black;
	margin-bottom: 0;
	padding-bottom: 10vh;
	padding-top: 3vh;
}
.content4 {
	background-color: rgb(165, 165, 165);
	margin-top: 10vh;
	padding-bottom: 22.33vh;
	padding-top: 6vh;
}
.content4S {
	padding-left: 2vw;
	width: 100vw;
}
.description {
	align-items: inherit;
	color: #fff;
	display: inherit;
	font-family: var(--font-mono);
	font-size: 0.85rem;
	justify-content: inherit;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
}
.description a {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}
.description p {
	background-color: rgba(var(--callout-rgb), 0.5);
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
	margin: 0;
	padding: 1rem;
	position: relative;
}
.description:hover {
	animation: menu 5.5 ease-in;
}
.description1 {
	align-items: inherit;
	color: #000;
	display: inherit;
	font-family: var(--font-mono);
	font-size: 0.85rem;
	justify-content: inherit;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
}
.description2 {
	align-items: inherit;
	color: #000;
	display: inherit;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.85rem;
	justify-content: inherit;
	max-width: var(--max-width);
	white-space: pre-line;
	width: 100%;
	word-wrap: break-word;
	z-index: 2;
}
.descriptionL {
	align-items: inherit;
	color: #fff;
	display: inherit;
	font-family: var(--font-mono);
	font-size: 0.85rem;
	justify-content: inherit;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
}
.descriptionL:hover {
	background-color: rgb(146, 164, 224);
	font-size: 0.87rem;
	font-weight: 700;
}
.footer {
	background-color: #000;
	margin: 0;
	padding: 0;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(33%, auto));
	max-width: 100%;
	width: var(--max-width);
}
.gridEdu {
	background-color: #FAFAFA;
	border-radius: 50px;
	box-shadow: -3px 3px 12px 2px #000;
	height: 500px;
	margin: 3vw .5vw 0vw .5vw;
	padding-bottom: 40vh;
	padding-left: 3.3vw;
	width: 25vw;
}
.gridEdu:hover {
	height: 510px;
	padding-bottom: 42vh;
	padding-left: 4vw;
	width: 26vw;
}
.gridItem {
	background-color: rgb(104, 104, 104);
	border-radius: 15px;
	height: 500px;
	margin: .6vw .3vw 0vw .3vw;
	padding-bottom: 60px;
	width: 20vw;
}
.gridItem2 {
	background-color: red;
	height: 500px;
	margin: .6vw .3vw 0vw .3vw;
	opacity: 0;
	width: 20vw;
}
.gridSkills {
	background-color: #000;
	border-radius: 25px;
	box-shadow: -3px 3px 12px 2px #000;
	height: 300px;
	margin: .6vw .3vw 0vw .3vw;
	padding-bottom: 40vh;
	padding-left: 1vw;
	padding-top: 0.8vh;
	width: 20vw;
}
.gridSkills:hover {
	animation: hoverPop 0.33s ease-in;
	height: 320px;
	outline: 3px solid #181717;
	outline-offset: .33px;
	padding-left: 3vh;
	width: 21vw;
}
.gridSkillsJS {
	background-color: #F7DF1E;
	border-radius: 25px;
	box-shadow: -3px 3px 7px 1px #F7DF1E;
	height: 300px;
	margin: .6vw .3vw 0vw .3vw;
	padding-bottom: 40vh;
	padding-left: 1vw;
	padding-top: 0.8vh;
	width: 20vw;
}
.gridSkillsJS:hover {
	animation: hoverPop 0.33s ease-in;
	height: 320px;
	outline: 3px solid #181717;
	outline-offset: .33px;
	padding-left: 3vh;
	width: 21vw;
}
.gridSkillsN {
	background-color: #FFF;
	border-radius: 25px;
	height: 300px;
	margin: .6vw .3vw 0vw .3vw;
	padding-bottom: 40vh;
	padding-left: 1vw;
	width: 20vw;
}
.gridSkillsN {
	background-color: #fff;
	border-radius: 25px;
	height: 300px;
	margin: .6vw .3vw 0vw .3vw;
	padding-bottom: 40vh;
	padding-left: 1vw;
	padding-top: 0.8vh;
	width: 20vw;
}
.gridSkillsN:hover {
	animation: hoverPop 0.33s ease-in;
	height: 320px;
	outline: 3px solid #181717;
	outline-offset: .33px;
	padding-left: 3vh;
	width: 21vw;
}
.logo,
.thirteen {
	position: relative;
}
.main {
	align-items: center;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 6rem;
	min-height: 100vh;
}
.resume {
	border-radius: 13.33px;
	display: flex;
	margin-left: 15vw;
	width: 80vw;
}
.resumeButton {
	background-color: rgb(143, 206, 49);
	border-radius: 12;
	border-radius: 7px;
	font-size: xx-large;
	height: 5rem;
	text-align: center;
	width: 11.33rem;
}
.skillLogo {
	height: inherit;
	width: 18vw;
}
.textCont {
	height: inherit;
	padding-left: 2vh;
	width: inherit;
}
.thirteen {
	align-items: center;
	border-radius: var(--border-radius);
	box-shadow: 0px 2px 8px -1px #0000001a;
	display: flex;
	justify-content: center;
	margin-left: 16px;
	overflow: hidden;
	transform: translateZ(0);
}
.title {
	animation: title-fade 1.5s ease-in;
	color: #000;
	font-size: 8.33rem;
	margin-bottom: 14vh;
	margin-top: 6vh;
}
.title2 {
	color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	margin-top: 6px;
}
.title-2 {
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	margin-top: 6px;
}
.title2FS {
	color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	margin-bottom: 1vh;
	margin-top: 6px;
}
.title2FS:hover {
	color: rgb(86, 159, 255);
	font-size: 2.34rem;
}
.title2FSs {
	color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	margin-bottom: 1vh;
	margin-top: 6px;
}
.title2FSs:hover {
	color: rgb(255, 80, 80);
	font-weight: 500;
	font-size: 2.34rem;
}
.title2FSt {
	color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	margin-bottom: 1vh;
	margin-top: 6px;
}
.title2FSt:hover {
	color: rgb(255, 153, 5);
	font-size: 2.34rem;
}
.title2GI {
	color: #FFF;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	padding-bottom: 10px;
	text-align: center;
}
.title2Sk {
	color: #FFF;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: 600;
	font-weight: lighter;
	margin-top: 6px;
	text-align: center;
}
.title3 {
	color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.33rem;
	font-weight: lighter;
	margin-left: 15vw;
	margin-top: 6px;
	margin-top: 7vh;
	text-align: left;
}
.wipTitle {
	color: #FFF;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 50%;
}
@keyframes hoverPop {
	0% {
		height: 300px;
		width: 20vw;
	}
	100% {
		height: 320px;
		padding-left: 3vh;
		width: 21vw;
	}
	50% {
		height: 310px;
		padding-left: 2vh;
		width: 20.5vw;
	}
}
@keyframes menu {
	0% {
		color: grey;
	}
	100% {
		color: white;
	}
	50% {
		color: rgb(184, 184, 184);
	}
}
@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
@keyframes title-fade {
	from {
		opacity: 0;
	}
	mid {
		opacity: 0.3;
	}
	mid {
		opacity: 0.15;
	}
	mid {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media (hover: hover) and (pointer: fine) {
	.card:hover {
		background: rgba(var(--card-rgb), 0.1);
		border: 10px solid rgba(var(--card-border-rgb), 0.13);
	}
	.card:hover span {
		transform: translateX(4px);
	}
}
@media (max-width: 1023px) {
	#content-0 {
		margin-right: 50vw;
		width: 100vw;
	}
	.banGrid {
		align-items: center;
		display: inline;
		justify-content: center;
		width: 50%;
	}
	.bGrid {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.bumpLogo {
		height: 200px;
		margin: 0;
		padding: 0 1vw 0 1vw;
		width: 60vw;
	}
	.card {
		margin: 0;
	}
	.card {
		padding: 1rem 2.5rem;
	}
	.card h2 {
		margin-bottom: 0.5rem;
	}
	.center {
		padding: 8rem 0 6rem;
	}
	.center::before {
		height: 300px;
		transform: none;
	}
	.content {
		padding: -25rem 0rem 0rem 4rem;
	}
	.content2 {
		background-color: #2b2b2b;
		height: 400px;
		height: 500px;
		margin: 0vw 0vw 0vw 10vw;
		margin-left: 50px;
		overflow: auto;
		white-space: nowrap;
		width: inherit;
		z-index: -1000;
		z-index: 2;
	}
	.content3 {
		height: 500px;
		margin-left: 0;
		overflow: auto;
		white-space: nowrap;
		z-index: -1000;
	}
	.description {
		font-size: 0.8rem;
	}
	.description a {
		padding: 1rem;
	}
	.description div {
		align-items: flex-end;
		background: linear-gradient(
	 to bottom,
	 transparent 0%,
	 rgb(var(--background-end-rgb)) 40%
	 );
		height: 200px;
		inset: auto 0 0;
		padding: 2rem;
		pointer-events: none;
		z-index: 1;
	}
	.description p {
		align-items: center;
		backdrop-filter: blur(24px);
		background: linear-gradient(
	 to bottom,
	 rgba(var(--background-start-rgb), 1),
	 rgba(var(--callout-rgb), 0.5)
	 );
		background-clip: padding-box;
		border: none;
		border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
		border-radius: 0;
		inset: 0 0 auto;
		padding: 2rem 1rem 1.4rem;
	}
	.description p,
	 .description div {
		display: flex;
		justify-content: center;
		position: fixed;
		width: 100%;
	}
	.description2 {
		color: #000;
		font-family: 'Courier New', Courier, monospace;
		font-size: 0.85rem;
		white-space: pre-line;
		width: inherit;
		word-wrap: break-word;
		z-index: 2;
	}
	.descriptionL {
		font-size: 11px;
		padding: 0vw;
	}
	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}
	.gridEdu {
		height: 319px;
		margin-left: 12.3vw;
		width: 80vw;
	}
	.gridEdu:hover {
		animation: hoverPop 0.44s ease-in;
		height: 320px;
		margin-left: 11vw;
		outline: 3px solid #181717;
		outline-offset: .33px;
		padding-left: .5vh;
		width: 83vw;
	}
	.gridItem {
		background-color: rgb(124, 69, 85);
		border-radius: 15px;
		margin-left: 12vw;
		width: 80vw;
	}
	.gridItem2 {
		height: 0;
		width: 0;
	}
	.gridSkills {
		margin-left: 25vw;
		margin-top: 4.33vh;
		width: 80vw;
	}
	.gridSkills:hover {
		animation: hoverPop 0.44s ease-in;
		height: 320px;
		margin-left: 23vw;
		outline: 3px solid #181717;
		outline-offset: .33px;
		padding-left: .5vh;
		width: 83vw;
	}
	.gridSkillsJS {
		margin-left: 25vw;
		margin-top: 4.33vh;
		width: 80vw;
	}
	.gridSkillsJS:hover {
		animation: hoverPop 0.44s ease-in;
		height: 320px;
		margin-left: 23vw;
		outline: 3px solid #181717;
		outline-offset: .33px;
		padding-left: .5vh;
		width: 83vw;
	}
	.gridSkillsN {
		margin-left: 25vw;
		margin-top: 4.33vh;
		width: 80vw;
	}
	.gridSkillsN:hover {
		animation: hoverPop 0.44s ease-in;
		height: 320px;
		margin-left: 23vw;
		outline: 3px solid #181717;
		outline-offset: .33px;
		padding-left: 1vh;
		width: 83vw;
	}
	.main {
		align-items: center;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 6rem;
		min-height: 100vh;
	}
	.skillLogo {
		height: 250px;
		margin-right: 3vw;
		padding-top: 10vh;
		width: inherit;
	}
	.textCont {
		height: inherit;
		width: inherit;
	}
	.title2GI {
		width: inherit;
	}
	.title2Sk {
		margin-left: 5vw;
	}
	.vercelLogo {
		opacity: 0;
	}
	@keyframes hoverPop {
		0% {
			height: 300px;
			padding-left: .2;
			width: 80.3vw;
		}
		100% {
			height: 320px;
			padding-left: 1vh;
			width: 82.8vw;
		}
		50% {
			height: 310px;
			padding-left: .5vh;
			width: 80.5vw;
		}
	}
}
@media (prefers-color-scheme: dark) {
	.logo,
	 .thirteen img {
		filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
	}
	.vercelLogo {
		filter: invert(1);
	}
}
@media (prefers-reduced-motion) {
	.card:hover span {
		transform: none;
	}
	.thirteen::before {
		animation: none;
	}
}
