

.dutyRole {
  font-size: 17.13px;
  font-weight: lighter;
  color: rgb(94 234 212);
  color: rgb(37, 103, 93);
  color: white;
  color: seashell;

  background-color: rgb(52, 52, 52);
  width: fit-content;
  height: fit-content;
  border-radius: 35px;
  padding: 13px;
  margin: 3px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Mobile */
@media (max-width: 700px) {
  .dutyRole {
    font-size: 14.5px;
    font-weight: bold;
    color: white;
    width: fit-content;
    border-radius: 35px;
    padding: 10px;
    margin: 3px;

  }
  .dutyRole:hover {
    color: white;
  }
}

/* anims */
@keyframes textFadeIn {
  0%{
    color: rgb(6, 55, 37);
  }
  100%{
    color: white;
    font-weight: bolder;
  }
}