.primaryCardBackground {
  background-color: rgb(18, 29, 52);
  background-color: #1e315d;
  outline: 2px rgba(10, 16, 29, 0.401) solid;
  outline: none;
  
  outline-offset: 2px;
  border-radius: 11px;
  width: 20%;

  border-radius: 13px;
  padding: 25px;
  margin: 39px;
  display: flex;
  max-width: 63.13vw;
  min-width: 63.13vw;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.companyName {
  color:white;
  text-align: center;
  font-weight: bold;
  filter: blur(130);
}

.roleTitle {
  color:white;
  text-align: center;
  font-weight: lighter;
}

.responsibilities {
  text-align: center;
  font-weight: 700;
}

.center {
  display: flex;
  /* padding: 4rem 0; */
}

.skillHolder {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}
.skillHolderMobile {
  display: none;
}

.projectImage {
  height: 213px;
  width: 206px;
  border-radius: 8px;
  transition: animation 1s;
}

.projectImage:hover {
  animation: popHover 1s ease forwards;
}

.defaultImg {
  opacity: 0;
  width: 200px;
}
.defaultImgMob {
  opacity: 0;
  width: 200px;
  height: 0;
}

.mobileImage {
  display: none;
}

.jobDesc {
  max-width: 100%;
  padding: 11px;
  text-align: justify;
  color: grey;
  color: #c3d2f6;
}

.jobTitle {
  color: white;
  text-align: left;
  margin-top: 6.13px;
  font-size: 26px;
  font-weight: 300;
}

.roleLength {
  text-align: right;
  margin-left: auto;
  font-weight: 300;
}

.roleAndDate {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%%;
}

.secondaryPanel {
  padding: 23px;
  width: 100%;
}

.companyName {
  color: white;
  font-size: 40px;
  text-align: left;
}
.companyName:hover {
  text-decoration: underline;
  color: rgb(67, 140, 129);
  color: #738ece;
}

/* Mobile */
@media (max-width: 700px) {
  .skillHolder {
    display: none;
  }
  .skillHolderMobile {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 100%;
  }
  .projectImage{
    display: none;
  }
  .mobileImage {
    height: 263px;
    width: 263px;
    display: inline-block;
    border-radius: 8.13px;
  }
  .primaryCardBackground {
    background-color: rgb(18, 29, 52);
    background-color: #1e315d;
    outline-offset: 2px;
    border-radius: 11px;
    margin: 26px;
    width: 94.13%;
    min-width: 92vw;
    padding: 6px;
  }

  .roleLength {
    font-weight: 200;
  }

  .roleAndDate {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .roleLength {
    margin-left: 0;
  }

  .projectTitle {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .projectTitle:hover {
    text-decoration: underline;
    color: rgb(67, 140, 129);
    color: #738ece;
  }
  .defaultImg {
    opacity: 0;

    height: 45px;
    display: none;
  }
  .projDesc {
    padding: 6px;
  }
  .jobTitle {
    padding: 0;
    margin: 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .companyName {
    text-align: center;
    margin-bottom: 25px;
  }
}

.expValign {
  display: flex;
  align-items: center;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .primaryCardBackground {
    width: 100vw;
    max-width: 86vw;
  }
  .projectImage {
    height: 220px;
  }

  .expValign {
    display: flex;
    align-items: center;
  }
}

/* Animations list */
@keyframes popHover {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.03;
  }

  100% {
    scale: 1;
  }
}