.primaryCardBackground {
  background-color: rgb(18, 29, 52);
  border-radius: 10px;
  padding: 25px;
  margin: 7px;
  display: flex;
  max-width: 65vw;
  min-width: 65vw;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.primaryCardBackground:hover {
  animation: outlineShift 0.3s ease-in;
  outline-offset: 2.5px;
}

.skillHolder {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.skillHolderMobile {
  display: none;
}

.projectImage {
  height: 100%;
  width: 226px;
  border-radius: 7.13px;
}

.defaultImg {
  opacity: 0;
  width: 200px;
}

.defaultImgMob {
  opacity: 0;
  width: 200px;
  height: 0;
}

.mobileImage {
  display: none;
}

.projDesc {
  max-width: 100%;
  padding: 11px;
  text-align: justify;
  color: white;
}

.projectTitle {
  color: white;
  font-size: 40px;
}

.projectTitle:hover {
  text-decoration: underline;
  color: rgb(67, 127, 140);
}

.secondaryPanel {
  padding: 23px;
}

/* Mobile */
@media (max-width: 700px) {
  .skillHolder {
    display: none;
  }
  .skillHolderMobile {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .primaryCardBackground {
    display: inline;
    flex-direction: column;
    width: 93vw;
    max-width: 100vw;
    text-align: center;
    padding: 1px;
  }
  
  .primaryCardBackground:hover {
    animation: none;
  }

  .projectImage{
    display: none;
  }
  .mobileImage {
    height: 30vh;
    width: 95%;
    display: inline-block;

    border-radius: 9.13px;
  }
  .projectTitle {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .projectTitle:hover {
    text-decoration: underline;
    color: rgb(67, 140, 129);
  }
  .defaultImg {
    opacity: 0;
    width: 200px;
    height: 45px;
  }
  .projDesc {
    padding: 6px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .primaryCardBackground {
    width: 100vw;
    max-width: 86vw;
  }

  .projectImage {
    height: 230px;
  }
}

/* animations lsit */
@keyframes outlineShift {
  0% {
    outline-offset: 2px;
  }
  100% {
    outline-offset: 2.5px;
  }
}

@keyframes loadIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}