.primaryCardBackground {
  background-color: rgb(18, 29, 52);
  background-color: #1e315d;
  border-radius: 10px;
  padding: 25px;
  margin: 39px;
  display: flex;
  max-width: 45%;
  min-width: 45%;
  width: 45%;
  min-height: 450px;
  max-height: 510px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primaryCardBackground:hover {
  animation: outlineShift 0.3s ease-in;
  outline-offset: 2.5px;
}

.skillHolder {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.skillHolderMobile {
  display: none;
}

.projectImage {
  height: 250px;
  width: 250px;
  border-radius: 7.13px;
}

.defaultImg {
  opacity: 0;
  width: 200px;

  height: 267px;
  width: 250px;
  border-radius: 7.13px;
}

.defaultImgMob {
  opacity: 0;
  width: 200px;
  height: 0;
}

.mobileImage {
  display: none;
}

.projDesc {
  max-width: 100%;
  padding: 11px;
  text-align: justify;
  color: white;
}

.projectTitle {
  color: white;
  font-size: 40px;
}

.projectTitle:hover {
  text-decoration: underline;
  color: rgb(67, 127, 140);
  color: #738ece;
}

.cardCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.secondaryPanel {
  padding: 23px;
  height: fit-content;
}

/* Mobile */
@media (max-width: 700px) {
  .skillHolder {
    display: none;
  }
  
  .skillHolderMobile {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .primaryCardBackground {
    display: inline;
    flex-direction: column;
    width: 97%;
    min-width: 97%;
    max-width: 100vw;
    text-align: center;
    padding: 0;

    max-height: none;
    min-height: 10px;
    height: fit-content;
  }

  .secondaryPanel {
    height: fit-content;
  }
  
  .primaryCardBackground:hover {
    animation: none;
  }

  .projectImage{
    display: none;
  }

  .mobileImage {
    height: 38.13vh;
    width: 95%;
    display: inline-block;

    border-radius: 9.13px;
  }

  .projectTitle {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 26px;
  }

  .projectTitle:hover {
    text-decoration: underline;
    color: rgb(67, 140, 129);
    color: #738ece;
  }

  .defaultImg {
    opacity: 0;
    width: 200px;
    height: 45px;
  }

  .projDesc {
    padding: 6px;
    font-weight: 400;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .primaryCardBackground {
    width: 100vw;
    max-width: 86vw;
  }

  .projectImage {
    height: 230px;
  }

  .primaryCardBackground {
    height: fit-content;
  }

  .secondaryPanel {
    height: fit-content;
  }
}

@media (min-width: 1120px) and (max-width: 2600px) {
  .secondaryPanel {
    background-color: none;
  }

  .primaryCardBackground {
    max-height: none;
    max-width: none;
    width: 85vw;
    height: fit-content;
  }
}

/* animations lsit */
@keyframes outlineShift {
  0% {
    outline-offset: 2px;
  }
  100% {
    outline-offset: 2.5px;
  }
}

@keyframes loadIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}