

.skillName {
  font-size: 13px;
  font-weight: lighter;
  color: rgb(94 234 212);

  background-color: rgb(67, 140, 129);
  width: fit-content;
  height: fit-content;
  border-radius: 35px;
  padding: 13px;
  margin: 9px;
}

.skillName:hover {
  color: white;
}

/* Mobile */
@media (max-width: 700px) {
  .skillName {
    font-size: 10px;
    color: white;
    background-color: rgb(50, 78, 50);
    width: fit-content;
    border-radius: 35px;
    padding: 10px;
    margin: 3px;
  }
  .skillName:hover {
    color: white;
  }
}

/* anims */
@keyframes textFadeIn {
  0%{
    color: rgb(6, 55, 37);
  }
  100%{
    color: white;
    font-weight: bolder;
  }
}