.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  min-height: 40vh;
  max-width: 99vw;
  margin-left: 0.5vw;
}

.mainContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 99vw;
  margin-top: 100px;
  min-height: 50vh;
  margin-bottom: 90px;
}

.primary {
  max-width: 100vw;
}

.resumeText:hover {
  text-decoration: underline;
}

.mainHeader{
  width: 100vw;
  color: white;
  text-align: center;
  font-size: 48.13px;
}

.mainProjects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.13rem;
  min-height: 50vh;
  max-width: 99vw;
  margin-left: 0.5vw;
  margin-top: 37px;
  opacity: 0;
  filter: blur(5px);
  animation: loadIntro2 0.6s ease-in forwards;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.formContainer {
  background-color: rgb(36, 36, 36);
  margin: 0 0 13px 0;
  padding: 9.13px 4px 26px 4px;
  border-radius: 8px;
  width: 100%;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.formItemContainer {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formTextArea {
  background-color: rgb(26, 26, 26);
  border: none;
  border-radius: 8px;
  padding: 7.13px;
  height: 90px;
  font-size: 19.13px;
  width: 313px;
}

.formInput {
  background-color: rgb(26, 26, 26);
  border: none;
  border-radius: 6px;
  padding: 7.13px;
  font-size: 19.13px;
  width: 313px;
}

.formInput:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.formTextArea:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.skillsCont {
  margin: 63.13px 0 130px 0;
}

.projectRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 98vw;
}

.projectCont {
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;

  display: flex;
  gap: 13px;
  margin-top: 13px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  padding: 0 0 4rem 0;
}

.centerFtr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 26px;
}
.centerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #00000048;
  padding: 13px;
}
.footerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.3px;
}
.headerCent {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  padding: 4rem 0;
}

.skillCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
  width: 100%;
  max-width: 93.13vw;
  text-align: center;
  opacity: 0;
  animation: loadIntro .35s ease-in forwards;
  opacity: 1;
}

.scrollProgress {
  z-index: 13131313;
}

.introSect {
  background: linear-gradient(-126deg, #1e315d00 60%, #00000048 60%);
  padding-top: 130px;
  filter: drop-shadow(10px 13px 80px rgba(0, 0, 0, 1.3));
  height: 600px;
}

.footerContainer{
  padding: 13px;
  font-size: 10px;
  color: rgb(200, 200, 200);
  border-top: 3px solid #223562b5;
}

.footerHighlight:hover {
  color: white;
}

#footerIcon {
  margin: 6.13px;
  opacity: 0.8;
  animation: jumpAnim1 1.1331s ease 1s forwards;
}

#footerIcon:hover {
  opacity: 1;
  animation: jumpAnim1 1.13s ease forwards;
}

#footerIcon:nth-child(1) {
  animation-delay: 1.3s;
}
#footerIcon:nth-child(2) {
  animation-delay: 1.613s;
}
#footerIcon:nth-child(3) {
  animation-delay: 1.731s;
}
#footerIcon:nth-child(4) {
  animation-delay: 1.8s;
}
#footerIcon:nth-child(5) {
  animation-delay: 1s;
}

.sectionHeader {
  text-align: center;
  max-width: 100vw;
  font-size: 37px;
  color: white;
}

.eduSect {
  margin: 130px 0 130px 0;
}

.primary {
  max-width: 100vw;
}

.profilePic {
  /* set the picture to float and not affect the grid layout */
  float: left;
  width: 287px;
  height: 500px;
  border-radius: 54px;
  /* Make it so that it's sitting atop and doesn't affect the rest of the grid */
  position: absolute;
  top: 10%;
  left: 5%;
}

.expCenter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

.expSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 99.99vw;
  max-width: 100vw;

  text-align: center;

}

.emailContainer {
  padding: 23px;
  border-radius: 11px;
  width: 450px;
  margin: 13px;
  text-align: center;
}

.socialText {
  color: white;
}
.socialTextHeader {
  color: white;
  filter: blur(5px);
  animation: loadIntro2 0.6s ease-in forwards;
}

.socialText2 {
  color: white;
}
.socialText2:hover {
  text-decoration: underline;
}

.generalContainer {
  background-color: rgb(18, 29, 52);
  background-color: #243b71;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 23px;
  border-radius: 11px;
  min-width: 130px;
  max-width: 130px;
  margin: 13px;
  text-align: center;
}
.resumeContainer {
  background-color: rgb(18, 29, 52);
  background-color: #243b71;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 23px;
  border-radius: 11px;
  min-width: 350px;
  margin: 13px;
  text-align: center;
}
.generalContainer:hover {
  background-color: #28427e;
}
.resumeContainer:hover {
  background-color: #28427e;
}

.resumeContainerHeader {
  text-align: left;
  font-weight: 700;
  color: white;
}

.resumeContainerBody {
  font-weight: lighter;
  font-size: 20px;
  margin-top: 13px;
  color: white;
}

.resources {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 780px;
  animation: loadIntro2 0.6s ease-in forwards;
}

.submitButton {
  margin-top: 26px;
  background-color: rgb(26, 26, 26);
  border: 1px solid grey;
  border-radius: 8px;
  padding: 5.13px;
}

.submitButton:focus {
  outline: none;
  background-color: rgb(184, 184, 184);
  color: black;
}

.introMessage {
  width: 100%;
  max-width: 100%;

  color: white;
  font-family: monospace;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
  max-width: 100%;
  padding: 25px;
  opacity: 0;
  filter: blur(13px);
  animation: loadIntro 1.13s ease-in forwards;
  opacity: 1;
}

.introBody {
  padding-top: 30px;
  width: 50%;
  font-size: 28.13px;
  text-align: center;
  opacity: 0;
  margin-top: 1px;
  animation: loadIntro 1.3s ease-in forwards;
  opacity: 1;
  color: white;
  font-weight: normal;
}

.introName {
  color: rgb(84, 114, 183);
  opacity: 0;
  padding: 4px;
  animation: loadIntroName 1.45s ease-in forwards;
  opacity: 1;
  font-weight: 600;
}

.name {
  transition: color .813s;
}

.name:hover {
  color: white;
}

.menu {
  z-index: 1313;
  max-width: 100%;
  margin-top: 13px;
  list-style-type: none;
  position: fixed;
  text-align: center;
  display: flex;
  transition: margin-top .613s;
  height: fit-content;
  justify-content: center;
  background-color: rgba(22, 34, 61, 0.377);
  backdrop-filter: blur(13px);
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu:hover {
  margin-top: 26px;
  scale: 1.01;
}

#menuItems {
  color: red;
  text-align: center;
  padding: 10.513rem;
  
  padding-left: 3rem;
  padding-right: 3rem;
  /* animation: hoverFade 1.2s ease-in-out 0s; */
}

.listItemText {
  padding: 13px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: white;
  color: rgb(209, 209, 209);
  transition: color 1s;
  transition: box-shadow 1s ease; 
  border-radius: 30px;
  font-size: 28.13px;
}

.listItemText:hover {
  color:white;
  box-shadow: 0 0 2px 2px rgb(15 23 42);
}

.uniSpan {
  border-radius: 7px;
  padding: 3px;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 5rem;
  }
  .centerFtr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 84.13px;
  }
  .introMessage {
    width: 100vw;
    text-align: center;
    font-size: 36px;
    padding: 11px;
    padding-top: 0;
  }
  .introBody {
    padding: 0 13.13px 0 13.13px;
    width: 95.13vw;
    font-size: 24px;
    text-align: center;
  }
  .socialTextHeader {
    color: white;
    filter: blur(0);
    animation:none;
  }
  .sectionHeader {
    text-align: center;
    font-size: 40px;
  }

  .projectRow {
    flex-direction: column;
  }

  .mainProjects {
    padding: 0;
  }

  .menu {
    transition: margin-top none;
  }

  .menu:hover {
    margin-top: 13px;
  }
  
  .eduSect {
    margin-bottom: 0;
  }

  .introSect {
    padding-top: 26px;
    margin-top: 0;
    height: fit-content;
  }

  .resumeText {
    font-size: 13px;
  }
  .expCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
  }
  .skillCenter {
    max-width: 98vw;
  }
  .generalContainer {
    max-width: 100vw;
    min-width: 43%;
    text-align: center;
    margin: 3%;
  }
  .resumeContainer {

    max-width: 100vw;
    min-width: 94%;
    text-align: center;
    margin: 3%;
  }
  .resumeContainerHeader {
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    color: white;
  }
  .resumeContainerBody {
    font-weight: bolder;
    font-size: 19px;
    margin-top: 0;
  }
  .formContainer {
    padding: 9.13px 13px 26px 13px;
  }
  .resources {
    max-width: 100vw;
    min-width: 100vw;
    flex-wrap: wrap;
  }
  .mainHeader{
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 30px;
  }
  /* Menu Styling for mobile*/
  .menu {
    max-width: 100%;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: fit-content;
  }
  #menuItems {
    text-align: center;
    padding: 0.513rem;
    
    padding-left: 3rem;
    padding-right: 3rem;
    /* animation: hoverFade 1.2s ease-in-out 0s; */
  }
  .listItemText {
    padding: 13px;
    font-size: 18.13px;
  }

  .content {
    padding: 4rem;
  }
  .footerContainer {
    font-size: 10px;
  }
  .mainContact {
    min-height: 1vh;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .center {
    padding: 8rem 0 6rem;
    padding: 0 0 4rem 0;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .footerCenter {
    position: fixed;
    bottom: 0;
    background-color: rgba(22, 34, 61, 0.377);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    backdrop-filter: blur(3px);
    border-radius: 13px;
    padding: 1.3px;
    text-align: center;

    animation: loadShake .713s ease-in .2s 1 forwards;
  }

  .footerContainer {
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .menu {
    z-index: 131313;
    width: 50vw;
  }

  .centerFtr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 83.13px;
  }

  .listItemText {
    font-size: 28px;
  }

  .introBody {
    width: 80vw;
    font-weight: normal;
    text-align: left;
  }

  .projectRow {
    flex-direction: column;
  }

  .resumeContainer {
    min-width: 260px;
  }

  .resumeContainerBody {
    font-size: 14px;
    font-weight: normal;
  }

  .footerCenter {
    position: fixed;
    bottom: 0;
    background-color: rgba(22, 34, 61, 0.377);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    backdrop-filter: blur(3px);
    border-radius: 13px;
    padding: 1.3px;
    text-align: center;
  }

  .footerContainer {
    text-align: center;
    margin-top: 208px;
  }
}

@media (min-width: 1120px) and (max-width: 1500px) {
  .projectRow {
    flex-direction: column;
  }
}

/* Animations list */
@keyframes loadIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(23px);
    filter: blur(0px);
  }
}

@keyframes loadIntroName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(23px);
    background-color: rgb(197, 222, 135);
    background-color: rgb(248, 248, 216);
    background-color: #273a68;
    background-color: grey;
    color: rgb(67, 140, 129);
    padding: 4px 13px 4px 13px;
    color: white;
    color: #a4baec;background-color: #273a68;
    font-weight: 300;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@keyframes loadIntro2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0.8deg);
  }
  75% {
    transform: rotate(-0.8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes loadShake {
  0%{
    transform: rotate(1.3deg);
  }
  50%{
    transform: rotate(-2.6deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes jumpAnim1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-13.5px);
  }
  50% {
    transform: translateY(6.5px);
  }
  100% {
    transform: translateY(0);
  }
}
